<header class="header">

  <nav class="nav">
    <div class="logo">
      <a href="#">
        <img src="/assets/Images/TVLog.png" alt="Alea TV">
      </a>
    </div>
    <div class="container">
      <ul>
        <li><a href="#">Главная</a></li>
        <li><a href="#">Фильмы</a></li>
        <li><a href="#">Сериалы</a></li>
        <li><a href="#">Мои передачи</a></li>
      </ul>
    </div>
  </nav>
</header>

<!-- <div class="container">  ?? -->
<section class="hero" *ngIf="movies.length > 0">
  <div class="hero-bg" [@fadeInOut]="animationState" [ngStyle]="{'background-image': 'url(' + rPoster + ')'}"></div>
  <div class="container">
    <h1>Добро пожаловать в Alea TV</h1>
    <p>Наслаждайтесь лучшими фильмами и сериалами.</p>
    <a href="#" class="btn">Начать просмотр</a>
  </div>
</section>
<!-- </div>  ?? -->
<section class="content">
  <div class="container">
    <h2>Популярные фильмы</h2>
    <div class="grid">
      @for (movie of movies; track $index) {
      <div class="card">
        <img [src]="movie.posterUrlPreview" alt="Передача">
        
      </div>
      }
    </div>

    <div class="custom-pagination d-flex justify-content-center align-items-center mt-5">
      <button class="arrow prev" [disabled]="currentPage === 1" (click)="goPrevPage()">
        &lsaquo;
      </button>

      <button class="page-num" *ngIf="currentPage - 1 > 0" (click)="selectPage(currentPage - 1)"
        [disabled]="currentPage - 1 <= 0">
        {{ currentPage - 1 }}
      </button>

      <button class="page-num active">
        {{ currentPage }}
      </button>

      <button class="page-num" (click)="selectPage(currentPage + 1)" *ngIf="currentPage + 1 <= maxPage">
        {{ currentPage + 1 }}
      </button>

      <button class="transparent-btn" *ngIf="!isSelectingPage" (click)="startSelectingPage()">...</button>

      <input type="number" class="page-input" *ngIf="isSelectingPage" [(ngModel)]="selectedPage"
        (keyup.enter)="confirmPageSelection()" (blur)="confirmPageSelection()" min="1" [max]="maxPage">

      <button class="arrow next" [disabled]="currentPage === maxPage" (click)="goNextPage()">
        &rsaquo;
      </button>
    </div>
  </div>
</section>

<footer class="footer">
  <div class="container">
    <p>&copy; 2025 Alea Inc. Все права защищены.</p>
  </div>
</footer>