<header class="header">

  <nav class="nav">
    <div class="logo">
      <a href="#">
        <img src="/assets/Images/TVLog.png" alt="Alea TV">
      </a>
    </div>
    <div class="container">
      <ul>
        <li><a href="#">Главная</a></li>
        <li><a href="#">Фильмы</a></li>
        <li><a href="#">Сериалы</a></li>
        <li><a href="#">Мои передачи</a></li>
      </ul>
    </div>
  </nav>
</header>

<!-- <div class="container">  ?? -->
<section class="hero" *ngIf="movies.length > 0">
  <div class="hero-bg" [@fadeInOut]="animationState" [ngStyle]="{'background-image': 'url(' + rPoster + ')'}"></div>
  <div class="container">
    <h1>Добро пожаловать в Alea TV</h1>
    <p>Наслаждайтесь лучшими фильмами и сериалами.</p>
    <a href="#" class="btn">Начать просмотр</a>
  </div>
</section>
<!-- </div>  ?? -->
<section class="content">
  <div class="container">
    <h2>Популярные фильмы</h2>
    <div class="grid">
      @for (movie of movies; track $index) {
      <div class="card">
        <img [src]="movie.coverUrl" alt="Передача 1">
        <h3>{{movie.nameRu}}</h3>
      </div>
      }
    </div>
  </div>
</section>

<footer class="footer">
  <div class="container">
    <p>&copy; 2025 Alea Inc. Все права защищены.</p>
  </div>
</footer>